p{
    background-color: aqua;
    border-width:5px;
    border-style:dashed;
    border-color: blue;
    text-align: center;
}
h1{
    width: 130px;
text-align: center;
border:8px dashed ;
background-color: aquamarine;
display: inline-block;
}
body{
    background-color:cornsilk;
    text-align: center;
   
}
div{
    height: 100px;
    width: 100px;
    border-style: dotted;
    border-width: 5px;
    background-color: yellowgreen;
    /* padding: 20px;
    margin: 50px;
     */
    text-align: center;
    display: inline-block;
}