#container{
    height:400px;
    width:1200px;
    border-style: double;
    border-width: 2px;
    display: flex;
    flex-direction:row;
    justify-content:space-evenly;
    align-items: center;

}
.one{
    height:200px;
    width:200px;
    border-style:double;
    border-width: 4px; ;
    display:inline-block;
    background-color: aqua;


}
/* #one{
    background-color:aqua
}
#two{
    background-color:burlywood

}
#three{
   background-color:chartreuse
}
#four{
    background-color:chocolate
}
#five{
   background-color:darksalmon
} */


#main{
      display: flex;
      justify-content: center;
}
body{
    text-align: center  ;
}