#four {
  text-decoration: none;
  font-size: xx-large;
  color: black;
}

table {
  font-size: x-large;
  width: 100%;
}
#one {
  text-align: center;
}
#two:active{
  font-size: xx-large;
}
#two:hover {
  background-color: rgb(0, 114, 0);
}
#three {
  text-decoration: none;
  color: black;
  font-weight: bold;
}
#three:hover {
  color: white;
  text-decoration: none;
}
img {
  height: 100px;
  width: 100px;
}
td {
  text-align: center;
  border-width: 3px;
  border-color: rgb(0, 114, 0);
  border-style: solid;
  /* border-radius: 5px; */
}
#home {
  text-decoration: none;
  color: black;
}
#home:hover {
  color: white;
}
#smallHome:hover {
  background-color: rgb(0, 114, 0);
}
#smallRegistration {
  width: 500px;
  font-weight: bold;
}
#smallHome {
  width: 150px;
  font-weight: bold;
}
#smallLogin {
  width: 150px;
  font-weight: bold;
}
#smallCatalogue {
  width: 300px;
  font-weight: bold;
}
#b {
  width: 200px;
  height: 50px;
  font-size: large;
  background-color: blue;
  color: azure;
  border-width: 3px;
  font-weight: bolder;
  border-radius: 20px;
}
#b:active {
  background-color: white;
  color: black;
}

table {
  border-width: 3.5px;
  border-color: darkgreen;
  border-radius: 5px;
  border-style: solid;
}
th {
  border-width: 3px;
  border-color: darkgreen;
  border-style: solid;
  /* border-radius: 5px; */
}

span {
  font-weight: bold;
  font-size: 25px;
}
#smallCart {
  font-weight: bold;
}
