body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: black;
  background-image: url(Picture1.png);
  background-size: cover;
  
}

.container {
  text-align: center;
}

.input-container {
  margin-bottom: 20px;
}

button {
  cursor: pointer;
  padding: 10px 20px;
  font-size: xx-large;
  background-color: rgb(5, 6, 45, 0.9);
  border-color: rgb(5, 6, 45);
  border-radius: 8px;
  border-style: none;
  color: white;
}

button:hover {
  background-image: linear-gradient(144deg, #af40ff, #5b42f3 50%, #00ddeb);
}
button:active {
  background-image: none;
  background-color: rgb(15, 16, 69);
}
.expenses-list {
  border-top: 2px solid #333;
  padding-top: 20px;
  margin-top: 20px;
}
h1 {
  font-size: 50px;
  position: fixed;
  top: 0px;
  right: 569px;
  animation: h1 0.5s infinite;
}
/* @keyframes h1 {
    0%{
      background-color: blue;
    }
    3100{
      background-color: yellow;
      color:black;
}
99%{
  background-color: green;
}
    
  }
   */
