a{
    text-decoration: none;
    color: white;
}
#one{
    background-color: black;
    display: flex;
    justify-content: space-evenly;
    height:50px;
    align-items: center;
    
}
#outer{
    height: 600px;
    width: 600px;
    background-color: chartreuse;
    display: flex;
    justify-content: center;
    align-items: center;
}
#inner{
    height: 200px;
    width: 200px;
    background-color:brown;
}